


#main-text{
    
}



.x{background-image:url("http://cdn1.askiitians.com/cms-content/biologymorphology-of-flowering-plantsleaf_0.jpg");
background-repeat:no-repeat;text-align:center;color:green;padding-left:200px;padding-right:200px;font-family:sans-serif}
.y{background:green;color:white;}

A:link{
text-decoration:none;
color:yellow;}

A:hover{color:red;}
